<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>POKEDO</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!--Import Google fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <nav>
        <h1>POKEDO</h1>
        <form @submit.prevent="showOnSubmit">
          <input type="text" name="searchArg" placeholder="Id or name here" v-model="searchArg" required/>
          <input type="submit" value="search" @submit="showForm"/>
        </form>
      </nav>

      <pokemon-list v-show="!showPopup" @details-to-app="show"></pokemon-list>
      
      <pokemon-popup @close-popup="closePopup" :pokid="askedId" v-if='showPopup'></pokemon-popup>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components -->
    <script src="./components/PokemonList.js"></script>
    <script src="./components/PokemonCard.js"></script>
    <script src="./components/PokemonPopup.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
